@font-face {
  font-family: "SDSamliphopangche_Outline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'establishRoomNo703OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html{
    height: 100vh;
}
body {
  background: rgb(9, 27, 121);
  background: linear-gradient(
    45deg,
    rgb(2, 17, 94) 0%,
    rgba(75, 72, 226, 1) 36%,
    rgba(78, 45, 186, 1) 75%,
    rgb(29, 0, 83) 100%
  );
}
a{
    color: black;
}

.Home_Login_title{
  background: linear-gradient(to top, #8c00ff, #4690ff);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-stroke: 1px rgb(242, 241, 255);
  font-family: SDSamliphopangche_Outline;
  font-size: 88px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: none;
}